Passenger/passenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.wavetech.com/Passenger" 
xmlns:tns="http://www.wavetech.com/Passenger" 
elementFormDefault="qualified">
    <element name="Passenger" type="tns:Passenger"></element>
    <complexType name="Passenger">
        <sequence>
            <element name="name" type="string"></element>
            <element name="dob" type="date"></element>
            <element name="seatNo" type="int"></element>
            <element name="gender" type="string"></element>
        </sequence>
    </complexType>
</schema>